{% extends "base.html" %}

{% block title %}Blog Admin{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-offset-3 col-md-6">
        <h3>Blog Admin</h3>
        
        {% include '_flashmessages.html' %}
        
        <p>Welcome {{ session.username }}, <a href="{{ url_for('logout') }}">Logout</a></p>
        
        <div class="post-list">
          {% for post in posts.items %}
          <div class="post-item">
            {% if post.slug  %}
            <h4><a href="{{ url_for('.article', slug=post.slug) }}">{{ post.title }}</a></h4>
            {% else %}
            <h4>{{ post.title }}</h4>
            {% endif %}
            <div class="text-muted">Posted by <a href="#">{{ post.author.fullname }}</a> on {{ post.publish_date.strftime('%Y-%m-%d') }} in <a href="#">{{ post.category.name }}</a>
            </div>
            <hr />
          </div>
          {% endfor %}
        </div>
        
        <div class="post-paginate">
          {% if posts.has_prev  %}
          <a href="{{ url_for('admin', page=posts.prev_num) }}">Newer Posts</a>
          {% else %}
          &lt;&lt;Newer Posts
          {% endif  %} | 
          {% if posts.has_next  %}
          <a href="{{ url_for('admin', page=posts.next_num) }}">Older Posts</a>
          {% else %}
          &gt;&gt;Older Posts
          {% endif  %}
        </div>
    </div>
</div>
{% endblock %}